body{
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Changa', sans-serif;
   font-family: 'Playfair Display', serif;
   font-family: 'Roboto Mono', monospace;
   font-family: 'Roboto Slab', serif;
}